body{
    background: rgb(118,14,222);
    background: linear-gradient(90deg, rgba(118,14,222,1) 0%, rgba(237,230,22,1) 65%);
}

h1{
    color: green;
   text-align: center;
   text-shadow: -1px 0 rgb(0, 0, 0), 0 1px black, 1px 0 black, 0 -1px black;
}

h1:hover{
    color:palevioletred;
}

.page-wrap{
    margin: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 60px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 0 1 auto;
    margin-right: 5px;
    margin-left: 5px;
  }

  .columnTim{
      background-color:khaki;
      display: flex;
      text-align: center;
      width: 400px;
      border-radius: 7px;
      padding: 5px;
  }

  .columnEvil{
      display: flex;
      background-color: #980ede;
      text-align: center;
      width: 400px;
      border-radius: 7px;
      padding: 5px;
      transition: transform .2s;
  }

  .columnTim:hover{
    background-color: coral;
    box-shadow: cyan 2px 2px;
  }

    .columnEvil:hover{
    background-color: coral;
    box-shadow: cyan 2px 2px;
    transition: transform .2s;
    }

 img{
     height: 150px;
     width: 100px;
     float: right;
     
 }

 .columnEvil:hover {
    transform: scale(1.2); 
  }

  .columnTim:hover {
    transform: scale(1.2); 
  }

 .battleContent{
     text-align: center;
     border-radius: 10px;
     margin-left: 300px;
     margin-right: 300px;
     margin-bottom: 20px;
     margin-top: 20px;
     transition: transform .2s;
 }

 .battleContent:hover{
     background-color:rgba(255, 255, 0, 0.336);
     transform: scale(1.1);
 }