body{
    background: rgb(118,14,222);
    background: linear-gradient(90deg, rgba(118,14,222,1) 0%, rgba(237,230,22,1) 65%);
}

h1{
   text-align: center;
}

.page-wrap{
    margin: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 0 1 auto;
    margin-right: 5px;
    margin-left: 5px;
  }

  .columnTim{
      background-color:khaki;
      display: flex;
      text-align: center;
      width: 400px;
      border-radius: 7px;
  }

  .columnEvil{
      display: flex;
      background-color: #980ede;
      text-align: center;
      width: 400px;
      border-radius: 7px;
  }

 img{
     height: 150px;
     width: 100px;
     float: right;
 }

 .battleContent{
     
     text-align: center;
 }

 

 h3{
     
 }

